.card-contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 300px;
  //   border: solid black 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: auto;
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.685);
  border-radius: 4px;
}
img {
  width: 50%;
  border-radius: 50%;
}
.btn-link {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.5rem;
}
i {
  font-size: 25px;
}
a{
    color: black;
    transition: ease-in-out 200ms;
    &:hover{
        color: cadetblue;
    }
}
